.body {
  margin: 0;
  color: #1A1A1A;
  background-image: url(../img/keith-misner-h0Vxgz5tyXA-unsplash.jpg);
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
}

.body .header {
  height: 80px;
  width: 100%;
  background-color: rgba(77, 77, 77, 0.6);
  position: absolute;
}

.body .header .header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  width: 100%;
}

.body .header .header_container .left_container {
  height: 100px;
  width: 200px;
}

.body .header .header_container .left_container .left_box {
  height: 50%;
  width: auto;
}

.body .header .header_container .left_container .left_box .logo_image {
  height: 70px;
  width: 200px;
}

.body .header .header_container .right_container {
  height: 100%;
  width: calc(100% - 200px);
}

.body .header .header_container .right_container .right_box {
  height: 50%;
  width: 100%;
}

.body .header .header_container .right_container .right_box .catchcopy {
  height: 100%;
  width: calc(100% - 205px);
  float: left;
  font-size: 0.9rem;
  line-height: 72px;
  padding-left: 5px;
}

.body .header .header_container .right_container .right_box .phone_number {
  height: 100%;
  width: 200px;
  float: right;
}

.body .header .header_container .right_container .right_box .phone_number h2 {
  margin: 0;
  font-size: 1rem;
  text-align: center;
  line-height: 70px;
}

.body .header .header_container .right_container .right_box .phone_number h2:hover {
  cursor: pointer;
  color: #eeeeee;
}

.body .header .header_container .right_container .right_box .menu {
  width: calc(100% - 180px);
}

.body .header .header_container .right_container .right_box .menu ul {
  width: 100%;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.body .header .header_container .right_container .right_box .menu ul li {
  display: inline-block;
  width: calc(100%/8);
  line-height: 50px;
  text-align: center;
}

.body .header .header_container .right_container .right_box .menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  font-weight: bold;
  color: #1A1A1A;
}

.body .header .header_container .right_container .right_box .menu ul :hover {
  color: #eeeeee;
  cursor: pointer;
}

.body .main {
  width: auto;
  padding-bottom: 20px;
}

.body .main .top .top_image {
  width: 100%;
}

.body .main .main_container {
  width: 85%;
  margin: 0 auto;
}

.body .main .main_container .container {
  padding-top: 20px;
}

.body .main .main_container .container .container_header {
  padding: 10px 0;
  background-color: rgba(77, 77, 77, 0.6);
  text-align: center;
  border-radius: 5px 5px 0 0;
  color: #eeeeee;
  font-weight: bold;
}

.body .main .main_container .container .container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
  background-color: rgba(238, 238, 238, 0.4);
  border-radius: 0 0 5px 5px;
}

.body .main .main_container .container .container1 .container1_box {
  width: 300px;
}

.body .main .main_container .container .container1 .container1_box .container1_img {
  height: 300px;
  width: 300px;
}

.body .main .main_container .container .container1 .container1_box .container1_text {
  height: 200px;
  width: 290px;
  padding: 5px;
  background-color: rgba(238, 238, 238, 0.7);
}

.body .main .main_container .container .container2 {
  padding: 10px;
  background-color: rgba(238, 238, 238, 0.4);
  border-radius: 0 0 5px 5px;
}

.body .main .main_container .container .container2 .container2_box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body .main .main_container .container .container2 .container2_box1 .container2_box1-img {
  width: 40%;
}

.body .main .main_container .container .container2 .container2_box1 .container2_box1-text {
  width: 60%;
  background-color: rgba(238, 238, 238, 0.7);
  padding: 5px;
}

.body .main .main_container .container .container2 .container2_box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body .main .main_container .container .container2 .container2_box2 .container2_box2-text {
  width: 60%;
  background-color: rgba(238, 238, 238, 0.7);
  padding: 5px;
}

.body .main .main_container .container .container2 .container2_box2 .container2_box2-movie {
  width: 40%;
  background-color: rgba(238, 238, 238, 0.7);
}

.body .main .main_container .container .container2 .container2_box2 .container2_box2-movie .youtube {
  width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.body .main .main_container .container .container2 .container2_box2 .container2_box2-movie .youtube .iframe {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
}

.body .main .main_container .container .container3 {
  padding: 10px;
  background-color: rgba(238, 238, 238, 0.4);
  border-radius: 0 0 5px 5px;
}

.body .main .main_container .container .container3 .container3-img {
  height: 300px;
  width: 50%;
  float: left;
}

.body .main .main_container .container .container3 .container3-text {
  height: 600px;
  width: 100%;
  background-color: rgba(238, 238, 238, 0.7);
}

.body .main .main_container .container .container4 {
  padding: 10px;
  background-color: rgba(238, 238, 238, 0.4);
  border-radius: 0 0 5px 5px;
}

.body .main .main_container .container .container4 .container4_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(238, 238, 238, 0.7);
}

.body .main .main_container .container .container4 .container4_box .dating {
  width: 50%;
  text-align: end;
  padding-right: 20px;
}

.body .main .main_container .container .container4 .container4_box .comment {
  width: 50%;
  padding-left: 20px;
}

.body .main .main_container .container .container5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  background-color: rgba(238, 238, 238, 0.4);
  border-radius: 0 0 5px 5px;
}

.body .main .main_container .container .container5 .container5-text {
  height: 300px;
  width: 50%;
  background-color: rgba(238, 238, 238, 0.7);
  padding-top: 80px;
}

.body .main .main_container .container .container5 .container5-text .company {
  font-size: 1.3rem;
  font-weight: bold;
  width: 50%;
  margin: 20px auto;
}

.body .main .main_container .container .container5 .container5-text .postal_code {
  font-size: 0.5rem;
  width: 50%;
  margin: 20px auto;
  margin-bottom: 0;
}

.body .main .main_container .container .container5 .container5-text .address {
  width: 50%;
  margin: 5px auto;
}

.body .main .main_container .container .container5 .container5-text .phone_nummber2 {
  width: 50%;
  margin: 20px auto;
}

.body .main .main_container .container .container5 .container5-map {
  width: 50%;
}

.body .main .main_container .container .container6 {
  padding: 10px;
  background-color: rgba(238, 238, 238, 0.4);
  border-radius: 0 0 5px 5px;
}

.body .main .main_container .container .container6 .container6_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: end;
  padding: 10px;
  background-color: rgba(238, 238, 238, 0.7);
}

.body .main .main_container .container .container6 .container6_box label {
  display: inline-block;
  width: 20%;
  margin-right: 40px;
  padding: 10px 0;
}

.body .main .main_container .container .container6 .container6_box .form {
  display: inline-block;
  width: 30%;
}

.body .main .main_container .container .container6 .container6_box .button {
  width: 150px;
  padding: 10px 0;
  background-color: #eeeeee;
  border-radius: 50px;
}

.body .main .main_container .container .container6 .container6_box .button:hover {
  cursor: pointer;
  background-color: #4D4D4D;
}

.body .footer {
  height: 140px;
  width: 100%;
  background-color: rgba(77, 77, 77, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body .footer .left_container {
  width: 200px;
}

.body .footer .left_container .left_box {
  height: 70px;
  width: 200px;
  padding: 35px 0;
}

.body .footer .left_container .left_box .logo_image {
  height: 70px;
  width: 200px;
}

.body .footer .right_container {
  height: 100%;
  width: calc(100% - 200px);
}

.body .footer .right_container .right_box {
  width: 100%;
}

.body .footer .right_container .right_box .menu {
  height: 100%;
  width: auto;
}

.body .footer .right_container .right_box .menu ul {
  height: 100%;
  width: 81%;
  display: block;
  margin: 0 auto;
}

.body .footer .right_container .right_box .menu ul li {
  display: inline-block;
  width: calc(100%/5);
  line-height: 70px;
  text-align: center;
}

.body .footer .right_container .right_box .menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #1A1A1A;
  font-weight: bold;
}

.body .footer .right_container .right_box .menu ul :hover {
  color: #eeeeee;
  cursor: pointer;
}

.body .copy-right {
  padding: 5px 0;
  text-align: center;
  background-color: #4D4D4D;
  color: #eeeeee;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: bottom;
}
/*# sourceMappingURL=style.css.map */