$main_color: lightgray;
$sub_color: gray;
$sub_color2: brown;
$font_color: black;

.body {
  margin: 0;
  
  .header {
    height: 140px;
    width: 100%;
    background-color: $main_color;
    display: flex;
    .left_container {
      height: 140px;
      width: 200px;
      background-color: $sub_color;
      .left_box {
        height: 50%;
        width: auto;
        background-color: $main_color;
      }
    }
    .right_container {
      height: 100%;
      width: calc(100% - 200px);
      background-color: $sub_color2;
      .right_box {
        height: 50%;
        width: 100%;
        background-color: $main_color;
        .catchcopy {
          height: 100%;
          width: calc(100% - 200px);
          background-color: $sub_color2;
          float: left;
          h2 {
            padding-left: 20px;
            margin: 0;
            line-height: 70px;
          }

        }
        .phone_number{
          height: 100%;
          width: 200px;
          background-color: $sub_color2;
          float: right;
          
          h2 {
            margin: 0;
            font-size: 1rem;
            text-align: center;
            line-height: 70px;
          }
        }
        .menu {
          height: 100%;
          width: auto;
          ul {
            height: 100%;
            width: 100%;
            display: block;
            li {
              display: inline-block;
              width: calc(100%/6);
              line-height: 70px;
              text-align: center;
              a {
                display: inline-block;
                // height: 100%;
                width: 100%;
                text-decoration: none;
                color: $font_color;
              }
            }
            & :hover {
              background-color: $sub_color;
              cursor: pointer; 
            }

          }

        }
      }
    }
  }
  .main {
    width: auto;
    background-image: url(../img/keith-misner-h0Vxgz5tyXA-unsplash.jpg);
    background-color: rgba($color: #ffffff, $alpha: 0.7);
    background-blend-mode: lighten;

    .top {
      background-color: $main_color;
      .top_image {
        width: 100%;
      }
    }
    .main_container {
      height: 3000px;
      width: 85%;
      margin: 0 auto;
      .container {
        padding-top: 20px;
        .container_header {
          padding: 10px 0;
          background-color: $sub_color;
          text-align: center;
        }
        .container1 {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          padding: 5px;
          background-color: rgba($color: $main_color, $alpha: 0.7);
          .container1_box {
            height: 500px;
            width: 300px;
            background-color: $sub_color2;
            .container1_img {
              height: 300px;
              width: 300px;
            }
            .container1_text {
              height: 200px;
              width: 300px;
              background-color: $sub_color;
            }
          }
        }
        .container2 {
          padding: 5px;
          background-color: rgba($color: $main_color, $alpha: 0.7);
          .container2_box1 {
            display: flex;
            .container2_box1-img {
              height: 300px;
              width: 40%;
              background-color: $sub_color2;
            }
            .container2_box1-text {
              // height: 300px;
              width: 60%;
              background-color: $sub_color;
            }
          }
          .container2_box2 {
            display: flex;
            .container2_box2-text {
              width: 60%;
              background-color: $sub_color;
            }
            .container2_box2-movie {
              width: 40%;
              background-color: $sub_color2;
            }
          }
        }
        .container3 {
          padding: 5px;
          background-color: rgba($color: $main_color, $alpha: 0.7);
          .container3-img {
            height: 300px;
            width: 50%;
            float: left;
            background-color: $sub_color2;
          }
          .container3-text {
            height: 600px;
            width: 100%;
            background-color: $sub_color;
          }
        }
        .container4 {
          padding: 5px;
          background-color: rgba($color: $main_color, $alpha: 0.7);
          .container4_box {
            display: flex;
            .dating {
              width: 50%;
              text-align: end;
              padding-right: 20px;
            }
            .comment {
              width: 50%;
              padding-left: 20px;
            }
          }
        }
        .container5 {
          display: flex;
          padding: 5px;
          background-color: rgba($color: $main_color, $alpha: 0.7);
          .container5-text {
            height: 300px;
            width: 50%;
            background-color: $sub_color;
          }
          .container5-map {
            width: 50%;
            background-color: $sub_color2;
          }
        }
        .container6 {
          padding: 5px;
          background-color: rgba($color: $main_color, $alpha: 0.7);
          .container6_box {
            display: flex;
            justify-content: center;
            text-align: end;
            // margin-top: 10px;
            padding: 10px;
            label {
              display: inline-block;
              width: 20%;
              margin-right: 40px;
              padding: 10px 0;
            }
            .form {
              display: inline-block;
              width: 30%;
            }
            .button {
              width: 150px;
              padding: 10px 0;
              background-color: $sub_color;
              border-radius: 50px;
              &:hover{
                cursor: pointer;
                background-color: $main_color;
              }  
            }
          }
        }
      }
    }
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: bottom;
}