html {
  font-size: 1vw;
  color: #1A1A1A;
}

.body {
  margin: 0;
  color: #1A1A1A;
  background-image: url(../img/keith-misner-h0Vxgz5tyXA-unsplash.jpg);
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  font-size: 1.2rem;
}

.body .header {
  width: 100%;
  background-color: rgba(77, 77, 77, 0.6);
  position: absolute;
  aspect-ratio: 100/1;
}

.body .header .header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.body .header .header_container .left_container {
  width: 12%;
}

.body .header .header_container .left_container .left_box {
  padding-left: 1rem;
}

.body .header .header_container .left_container .left_box .logo_image {
  width: 100%;
  line-height: 4rem;
  aspect-ratio: 200/70;
}

.body .header .header_container .right_container {
  width: 88%;
}

.body .header .header_container .right_container .right_box-top {
  width: 100%;
  aspect-ratio: 1689.59/73.64;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body .header .header_container .right_container .right_box-top .catchcopy {
  font-size: 1rem;
  line-height: 4rem;
  padding-left: 10px;
}

.body .header .header_container .right_container .right_box-top .phone_number {
  padding-right: 20px;
  line-height: 4rem;
}

.body .header .header_container .right_container .right_box-top .phone_number h2 {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.15rem;
}

.body .header .header_container .right_container .right_box-top .phone_number h2:hover {
  cursor: pointer;
  color: #eeeeee;
  font-size: 1.6rem;
  margin-bottom: 0;
}

.body .header .header_container .right_container .right_box-bottom {
  width: 100%;
  padding-top: 5px;
}

.body .header .header_container .right_container .right_box-bottom .menu {
  padding-right: 15%;
}

.body .header .header_container .right_container .right_box-bottom .menu ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.body .header .header_container .right_container .right_box-bottom .menu ul li {
  width: 10rem;
  text-align: center;
  padding-bottom: 0.2rem;
}

.body .header .header_container .right_container .right_box-bottom .menu ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #1A1A1A;
  font-size: 1.4rem;
}

.body .header .header_container .right_container .right_box-bottom .menu ul :hover {
  color: #eeeeee;
  cursor: pointer;
  font-size: 1.5rem;
  padding-bottom: 0;
}

.body .main {
  width: auto;
  padding-bottom: 20px;
}

.body .main .top .top_image {
  width: 100%;
}

.body .main .main_container {
  width: 85%;
  margin: 0 auto;
  min-width: 310px;
}

.body .main .main_container .container {
  padding-top: 20px;
}

.body .main .main_container .container .container_header {
  padding: 10px 0;
  background-color: rgba(77, 77, 77, 0.6);
  text-align: center;
  border-radius: 5px 5px 0 0;
  color: #eeeeee;
  font-weight: bold;
  font-size: 2rem;
}

.body .main .main_container .container .container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
  background-color: rgba(238, 238, 238, 0.4);
  border-radius: 0 0 5px 5px;
}

.body .main .main_container .container .container1 .container1_box {
  width: 300px;
  margin-top: 5px;
  background-color: rgba(238, 238, 238, 0.7);
}

.body .main .main_container .container .container1 .container1_box .container1_img {
  height: 300px;
  width: 300px;
}

.body .main .main_container .container .container1 .container1_box .container1_text {
  width: 290px;
  padding: 5px;
  font-size: 0.9rem;
}

.body .main .main_container .container .container2 {
  padding: 10px;
  background-color: rgba(238, 238, 238, 0.4);
  border-radius: 0 0 5px 5px;
}

.body .main .main_container .container .container2 .container2_box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body .main .main_container .container .container2 .container2_box1 .container2_box1-img {
  width: 40%;
}

.body .main .main_container .container .container2 .container2_box1 .container2_box1-text {
  width: 60%;
  background-color: rgba(238, 238, 238, 0.7);
  padding: 5px;
}

.body .main .main_container .container .container2 .container2_box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body .main .main_container .container .container2 .container2_box2 .container2_box2-text {
  width: 60%;
  background-color: rgba(238, 238, 238, 0.7);
  padding: 5px;
}

.body .main .main_container .container .container2 .container2_box2 .container2_box2-movie {
  width: 40%;
  background-color: rgba(238, 238, 238, 0.7);
}

.body .main .main_container .container .container2 .container2_box2 .container2_box2-movie .youtube {
  width: 100%;
  overflow: hidden;
  aspect-ratio: 16/9;
  position: relative;
}

.body .main .main_container .container .container2 .container2_box2 .container2_box2-movie .youtube .iframe {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
}

.body .main .main_container .container .container3 {
  padding: 10px;
  background-color: rgba(238, 238, 238, 0.4);
  border-radius: 0 0 5px 5px;
}

.body .main .main_container .container .container3 .container3-img {
  width: 50%;
  float: left;
}

.body .main .main_container .container .container3 .container3-text {
  width: 100%;
  background-color: rgba(238, 238, 238, 0.7);
}

.body .main .main_container .container .container4 {
  padding: 10px;
  background-color: rgba(238, 238, 238, 0.4);
  border-radius: 0 0 5px 5px;
}

.body .main .main_container .container .container4 .container4_box {
  background-color: rgba(238, 238, 238, 0.7);
  padding: 2rem 0;
}

.body .main .main_container .container .container4 .container4_box .container4_box-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body .main .main_container .container .container4 .container4_box .container4_box-li .dating {
  width: 25%;
  text-align: end;
  padding-right: 20px;
  font-size: 1.5rem;
}

.body .main .main_container .container .container4 .container4_box .container4_box-li .comment {
  width: 25%;
  padding-left: 20px;
  font-size: 1.5rem;
}

.body .main .main_container .container .container5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  background-color: rgba(238, 238, 238, 0.4);
  border-radius: 0 0 5px 5px;
}

.body .main .main_container .container .container5 .container5-text {
  width: 50%;
  background-color: rgba(238, 238, 238, 0.7);
  padding: 4rem 0;
}

.body .main .main_container .container .container5 .container5-text .company {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: 1.3rem 0;
}

.body .main .main_container .container .container5 .container5-text .postal_code {
  font-size: 0.8rem;
  width: 50%;
  margin: 0.5rem auto;
  padding-left: 2rem;
}

.body .main .main_container .container .container5 .container5-text .address {
  font-size: 1.3rem;
  width: 50%;
  margin: 0.5rem auto;
  padding-left: 2rem;
}

.body .main .main_container .container .container5 .container5-text .phone_nummber2 {
  font-size: 1.3rem;
  width: 50%;
  margin: 0.5rem auto;
  padding-left: 2rem;
}

.body .main .main_container .container .container5 .container5-map {
  width: 50%;
}

.body .main .main_container .container .container6 {
  padding: 10px;
  background-color: rgba(238, 238, 238, 0.4);
  border-radius: 0 0 5px 5px;
}

.body .main .main_container .container .container6 .container6_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: end;
  padding: 10px;
  background-color: rgba(238, 238, 238, 0.7);
}

.body .main .main_container .container .container6 .container6_box label {
  width: 20%;
  margin-right: 40px;
  padding: 0.8rem 0;
}

.body .main .main_container .container .container6 .container6_box .form {
  width: 30%;
}

.body .main .main_container .container .container6 .container6_box .button {
  width: 150px;
  padding: 0.8rem 0;
  background-color: #eeeeee;
  border-radius: 50px;
}

.body .main .main_container .container .container6 .container6_box .button:hover {
  cursor: pointer;
  background-color: #4D4D4D;
}

.body .footer {
  width: 100%;
  background-color: rgba(77, 77, 77, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  aspect-ratio: 1920/140;
}

.body .footer .left_container {
  width: 12%;
}

.body .footer .left_container .left_box {
  width: 100%;
  padding-left: 1rem;
  aspect-ratio: 230.39/140;
  line-height: 6rem;
}

.body .footer .left_container .left_box .logo_image {
  width: 100%;
  aspect-ratio: 200/70;
}

.body .footer .right_container {
  width: 88%;
}

.body .footer .right_container .right_box {
  width: 100%;
  aspect-ratio: 1689.59/140;
}

.body .footer .right_container .right_box .menu {
  height: 100%;
  width: auto;
}

.body .footer .right_container .right_box .menu ul {
  width: 81%;
  display: block;
  margin: 0 auto;
}

.body .footer .right_container .right_box .menu ul li {
  display: inline-block;
  width: 15rem;
  text-align: center;
  aspect-ratio: 288/70;
  font-size: 1.4rem;
}

.body .footer .right_container .right_box .menu ul li a {
  line-height: 3rem;
  text-decoration: none;
  color: #1A1A1A;
  font-weight: bold;
  font-size: 1.4rem;
}

.body .footer .right_container .right_box .menu ul :hover {
  color: #eeeeee;
  cursor: pointer;
  font-size: 1.5rem;
}

.body .copy-right {
  padding: 5px 0;
  text-align: center;
  background-color: #1A1A1A;
  color: #eeeeee;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: bottom;
}
/*# sourceMappingURL=style.css.map */