$main_color: lightgray;
$sub_color: gray;
$sub_color2: brown;
$font_color: black;

.body {
  margin: 0;
  .header {
    height: 140px;
    width: 100vw;
    background-color: $main_color;
    display: flex;
    .left_container {
      height: 140px;
      width: 200px;
      background-color: $sub_color;
      .left_box {
        height: 50%;
        width: auto;
        background-color: $main_color;
      }
    }
    .right_container {
      height: 100%;
      width: calc(100% - 200px);
      background-color: $sub_color2;
      .right_box {
        height: 50%;
        width: 100%;
        background-color: $main_color;
        .catchcopy {
          height: 100%;
          width: calc(100% - 200px);
          background-color: $sub_color2;
          float: left;
          // white-space: normal;
          h2 {
            padding-left: 20px;
            margin: 0;
            line-height: 70px;
          }

        }
        .phone_number{
          height: 100%;
          width: 200px;
          background-color: $sub_color2;
          float: right;
          
          h2 {
            margin: 0;
            font-size: 1rem;
            text-align: center;
            line-height: 70px;
          }
        }
        .menu {
          height: 100%;
          width: auto;
          ul {
            height: 100%;
            width: 100%;
            display: block;
            li {
              display: inline-block;
              width: calc(100%/6);
              line-height: 70px;
              text-align: center;
              a {
                display: inline-block;
                // height: 100%;
                width: 100%;
                text-decoration: none;
                color: $font_color;
              }
            }
            & :hover {
              background-color: $sub_color;
              cursor: pointer; 
            }

          }

        }
      }
    }
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}