$main_color: #4D4D4D;
$sub_color: #eeeeee;
$sub_color2: #FF3232;
$font_color: #1A1A1A;
$font_color2: #eeeeee;
$container_padding: 10px;
$text_padding: 5px;
$border-radius_top: 5px 5px 0 0;
$border-radius_bottom: 0 0 5px 5px;

.body {
  margin: 0;
  color: $font_color;
  background-image: url(/img/keith-misner-h0Vxgz5tyXA-unsplash.jpg);
  background-color: rgba($color: #ffffff, $alpha: 0.7);
  background-blend-mode: lighten;
  .header {
    height: 80px;
    width: 100%;
    background-color: rgba($color: $main_color, $alpha: 0.6) ;
    position: absolute;
    .header_container {
      display: flex;
      height: 80px;
      width: 100%;
      .left_container {
        height: 100px;
        width: 200px;
        .left_box {
          height: 50%;
          width: auto;
          .logo_image {
            height: 70px;
            width: 200px;
          }
        }
      }
      .right_container {
        height: 100%;
        width: calc(100% - 200px);
        .right_box {
          height: 50%;
          width: 100%;
          .catchcopy {
            height: 100%;
            width: calc(100% - 205px);
            float: left;
            font-size: 0.9rem;
            line-height: 72px;
            padding-left: 5px;
          }
          .phone_number{
            height: 100%;
            width: 200px;
            float: right;
            
            h2 {
              margin: 0;
              font-size: 1rem;
              text-align: center;
              line-height: 70px;
              &:hover {
                cursor: pointer;
                color: $font_color2;
              }
            }
          }
          .menu {
            width: calc(100% - 180px);
            ul {
              width: 100%;
              display: block;
              display: flex;
              justify-content: flex-end;
              li {
                display: inline-block;
                width: calc(100%/8);
                line-height: 50px;
                text-align: center;
                a {
                  display: inline-block;
                  width: 100%;
                  text-decoration: none;
                  font-weight: bold;
                  color: $font_color;
                }
              }
              & :hover {
                color: $font_color2;
                cursor: pointer; 
              }

            }
          }
        }
      }
    }
  }
  .main {
    width: auto;
    padding-bottom: 20px;
    .top {
      .top_image {
        width: 100%;
      }
    }
    .main_container {
      width: 85%;
      margin: 0 auto;
      .container {
        padding-top: 20px;
        .container_header {
          padding: 10px 0;
          background-color: rgba($color: $main_color, $alpha: 0.6) ;
          text-align: center;
          border-radius : $border-radius_top;
          color: $font_color2;
          font-weight: bold;
        }
        .container1 {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          padding: $container_padding;
          background-color: rgba($color: $sub_color, $alpha: 0.4) ;
          border-radius: $border-radius_bottom;
          .container1_box {
            width: 300px;
            .container1_img {
              height: 300px;
              width: 300px;
            }
            .container1_text {
              height: 200px;
              width: 290px;
              padding: $text_padding;
              background-color: rgba($color: $sub_color, $alpha: 0.7) ;
            }
          }
        }
        .container2 {
          padding: $container_padding;
          background-color: rgba($color: $sub_color, $alpha: 0.4) ;
          border-radius: $border-radius_bottom;
          .container2_box1 {
            display: flex;
            .container2_box1-img {
              width: 40%;
            }
            .container2_box1-text {
              width: 60%;
              background-color: rgba($color: $sub_color, $alpha: 0.7) ;
              padding: $text_padding;
            }
          }
          .container2_box2 {
            display: flex;
            .container2_box2-text {
              width: 60%;
              background-color: rgba($color: $sub_color, $alpha: 0.7) ;
              padding: $text_padding;
            }
            .container2_box2-movie{
              width: 40%;
              background-color: rgba($color: $sub_color, $alpha: 0.7) ;
              .youtube {
                width: 100%;
                overflow: hidden;
                padding-bottom: 56.25%;
                position: relative;
                .iframe {
                  height: 100%;
                  width: 100%;
                  position: absolute;
                  top: 0;
                  left: 0;
                  border: none;
                }
              }
            }
          }
        }
        .container3 {
          padding: $container_padding;
          background-color: rgba($color: $sub_color, $alpha: 0.4) ;
          border-radius: $border-radius_bottom;
          .container3-img {
            height: 300px;
            width: 50%;
            float: left;
          }
          .container3-text {
            height: 600px;
            width: 100%;
            background-color: rgba($color: $sub_color, $alpha: 0.7) ;
          }
        }
        .container4 {
          padding: $container_padding;
          background-color: rgba($color: $sub_color, $alpha: 0.4) ;
          border-radius: $border-radius_bottom;
          .container4_box {
            display: flex;
            background-color: rgba($color: $sub_color, $alpha: 0.7) ;
            .dating {
              width: 50%;
              text-align: end;
              padding-right: 20px;
            }
            .comment {
              width: 50%;
              padding-left: 20px;
            }
          }
        }
        .container5 {
          display: flex;
          padding: $container_padding;
          background-color: rgba($color: $sub_color, $alpha: 0.4) ;
          border-radius: $border-radius_bottom;
          .container5-text {
            height: 300px;
            width: 50%;
            background-color: rgba($color: $sub_color, $alpha: 0.7) ;
            padding-top: 80px;
            .company {
              font-size: 1.3rem;
              font-weight: bold;
              width: 50%;
              margin: 20px auto;
            }
            .postal_code {
              font-size: 0.5rem;
              width: 50%;
              margin: 20px auto;
              margin-bottom: 0;
            }
            .address {
              width: 50%;
              margin: 5px auto;
            }
            .phone_nummber2 {
              width: 50%;
              margin: 20px auto;
            }
          }
          .container5-map {
            width: 50%;
          }
        }
        .container6 {
          padding: $container_padding;
          background-color: rgba($color: $sub_color, $alpha: 0.4) ;
          border-radius: $border-radius_bottom;
          .container6_box {
            display: flex;
            justify-content: center;
            text-align: end;
            padding: 10px;
            background-color: rgba($color: $sub_color, $alpha: 0.7) ;
            label {
              display: inline-block;
              width: 20%;
              margin-right: 40px;
              padding: 10px 0;
            }
            .form {
              display: inline-block;
              width: 30%;
            }
            .button {
              width: 150px;
              padding: 10px 0;
              background-color: $sub_color;
              border-radius: 50px;
              &:hover{
                cursor: pointer;
                background-color: $main_color;
              }  
            }
          }
        }
      }
    }
  }
  .footer {
    height: 140px;
    width: 100%;
    background-color: rgba($color: $main_color, $alpha: 0.6) ;
    display: flex;
    .left_container {
      width: 200px;
      .left_box {
        height: 70px;
        width: 200px;
        padding: 35px 0;
        .logo_image {
          height: 70px;
          width: 200px;
        }
      }
    }
    .right_container {
      height: 100%;
      width: calc(100% - 200px);
      .right_box {
        width: 100%;
        .menu {
          height: 100%;
          width: auto;
          ul {
            height: 100%;
            width: 81%;
            display: block;
            margin: 0 auto;
            li {
              display: inline-block;
              width: calc(100%/5);
              line-height: 70px;
              text-align: center;
              a {
                display: inline-block;
                width: 100%;
                text-decoration: none;
                color: $font_color;
                font-weight: bold;
              }
            }
            & :hover {
              color: $sub_color;
              cursor: pointer; 
            }

          }

        }
      }
    }
  }
  .copy-right {
    padding: 5px 0;
    text-align: center;
    background-color: $sub_color3;
    color: $font_color2;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: bottom;
}