<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.scss">
  <link rel="stylesheet" href="../css/style.css">
  <title>Document</title>
</head>
<body class="body">
  <header class="header">
    <div class="left_container">
      <div class="left_box">
        <img src="" alt="logo">
      </div>
      <div class="left_box">

      </div>
    </div>
    <div class="right_container">
      <div class="right_box">
        <div class="catchcopy">
          <h2>〇〇〇〇〇〇〇〇</h2>
        </div>
        <div class="phone_number">
          <h2>0120-0000-0000</h2>
        </div>
      </div>
      <div class="right_box">
        <nav class="menu">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a href="#">Event</a>
            </li>
            <li>
              <a href="#">Image</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <main class="main">
    <div class="top"> 
      <img class="top_image" src="../img/top_image2.jpg" alt="">
    </div>
    <div class="main_container">

      <div class="container">
        <div class="container_header">Event</div>
        <div class="container1">
            <div class="container1_box">
              <img class="container1_img" src="" alt="">
              <div class="container1_text">
                
              </div>
            </div>

            <div class="container1_box">
              <img class="container1_img" src="" alt="">
              <div class="container1_text">
                
              </div>
            </div>

            <div class="container1_box">
              <img class="container1_img" src="" alt="">
              <div class="container1_text">
                
              </div>
            </div>
        </div>
      </div>

      <div class="container">
        <div class="container_header">Event</div>
        <div class="container2">
          <div class="container2_box1">
            <img class="container2_box1-img" src="" alt="">
            <div class="container2_box1-text"></div>
          </div>
          <div class="container2_box2">
            <div class="container2_box2-text"></div>
            <iframe class="container2_box2-movie" src="" frameborder="0"></iframe>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="container_header">Event</div>
        <div class="container3">
          <img class="container3-img" src="" alt="">
          <div class="container3-text"></div>
        </div>
      </div>

      <div class="container">
        <div class="container_header">News</div>
        <div class="container4">
          <div class="container4_box">
            <p class="dating">2021/07/07</p><p class="comment">七夕イベントやります</p>
          </div>
          <div class="container4_box">
            <p class="dating">2021/07/01</p><p class="comment">新規入居者入ります</p>
          </div>
          <div class="container4_box">
            <p class="dating">2021/06/25</p><p class="comment">餃子パーティー！</p>
          </div>
          <div class="container4_box">
            <p class="dating">2021/06/13</p><p class="comment">他シェアハウスとの交流会開催</p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="container_header">Company</div>
        <div class="container5">
          <div class="container5-text"></div>
          <iframe class="container5-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3245.211235030136!2d139.55323371519802!3d35.57317774349786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f70e2fe3b2b3%3A0x1836c8d11c6f49c0!2z44CSMjI1LTAwMDMg56We5aWI5bed55yM5qiq5rWc5biC6Z2S6JGJ5Yy65paw55-z5bed77yS5LiB55uu77yR77yU4oiS77yR!5e0!3m2!1sja!2sjp!4v1624956796453!5m2!1sja!2sjp" style="border:0;" allowfullscreen="" loading="lazy"></iframe>        <!-- </div> -->
        </div>
      </div>

      <div class="container">
        <div class="container_header">Contact</div>
        <div class="container6">
          <form class="container_form" action="#">
            <div class="container6_box">
              <label for="name">お名前</label>
              <input id="name" type="text" class="form" placeholder="名前を入力">
            </div>
            <div class="container6_box">
              <label for="e-mail">メールアドレス</label>
              <input id="e-mail" type="text" class="form" placeholder="aaaa@aaaa">
            </div>
            <div class="container6_box">
              <label for="phone-number">電話番号</label>
              <input id="phone-number" type="text" class="form" placeholder="08012345678">
            </div>
            <div class="container6_box">
              <label for="comment">お問い合わせ内容</label>
              <textarea id="comment" type="text" class="form" rows="5" maxlength="500" placeholder="500文字まで"></textarea>
            </div>
            <div class="container6_box">
              <input id="button" type="submit" class="button" value="送信">
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="left_container">
      <div class="left_box">
        <img src="" alt="logo">
      </div>
    </div>
    <div class="right_container">
      <div class="right_box">
        <nav class="menu">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a href="#">Event</a>
            </li>
            <li>
              <a href="#">Image</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="right_box">
        <nav class="menu">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a href="#">Event</a>
            </li>
            <li>
              <a href="#">Image</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </footer>
  <div class="copy-right">©️ 2021 てんぷれ</div>
</body>
</html>