<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.scss">
  <link rel="stylesheet" href="../css/style.css">
  <title>Document</title>
</head>
<body class="body">
  <header class="header">
    <div class="left_container">
      <div class="left_box">
        <img src="" alt="logo">
      </div>
      <div class="left_box">

      </div>
    </div>
    <div class="right_container">
      <div class="right_box">
        <div class="catchcopy"></div>
        <div class="phone_number"></div>
      </div>
      <div class="right_box">
        <nav class="menu">
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/">About</a>
            </li>
            <li>
              <a href="/">Contact</a>
            </li>
            <li>
              <a href="/">Event</a>
            </li>
            <li>
              <a href="/">Image</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
</body>
</html>